/* @override 
	http://comovotar.com/dev-andres/style.css */

/*
Genérico
*/
html {
    height:            100%;
    overflow:          hidden;
}
body {
    height:            100%;
    margin:            0px;
    background:        url(Img/back.png);
                       /* Original: http://subtlepatterns.com/patterns/bright_squares.png */
    font-family:       sans-serif;
    overflow:          hidden;
}

/*
Estructura
*/
#wrapper {
    height:            100%;
    width:             800%;
    margin-left:       100%;
}
#wrapper > div {
    height:            100%;
    width:             12.5%;
    float:             left;
    position:          relative;
    text-align:        center;
}
#wrapper > div > div {
    margin:            auto;
}

/*
Variados
*/
#spin {
    height:            100%;
    width:             100%;
}
.CompOk, .BlancaOk, .AzulOk {
    position:          absolute;
    z-index:           25;
    height:            70px;
    width:             49px;
    background:        url(Img/check.png);
}
.cerrarMensaje {
    display:           inline-block;
    padding:           6px 10px;
    font-weight:       bold;
    margin-top:        20px;
    cursor:            pointer;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}

.back_window {
    height:            100%;
    width:             100%;
    background:        url(Img/back.png);
    opacity:           0.9;
    position:          absolute;
    z-index:           24;
    top:               0px;
    left:              0px;
}
.mas_info_button {
    background:        url(Img/plus_info.png) no-repeat;
    height:            20px;
    width:             55px;
    position:          absolute;
    cursor:            pointer;
}
.mas_info_button_link {
    height:            20px;
    width:             55px;
    position:          absolute;
    z-index:           20;
}
.mas_info {
    position:          absolute;
    top:               50%;
    left:              50%;
    z-index:           30;
    width:             350px;
    background:        #FFF;
    
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    color:             #666;
    font-size:         11px;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
.info_general {
    width:             450px !important;
}
.mas_info > div {
    padding:           20px 20px 8px 20px;
}
.mas_info > div > .cerrar_mas_info {
    top:               10px !important;
}
.mas_info > div > .mas_info_titulo {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
    margin-top:        -5px;
    padding-bottom:    8px;
}
.mas_info_cont {
    font-size:         12px;
    text-align:        left;
    text-indent:       20px;
}

/*
Header
*/
.header {
    display:           inline-block;
    position:          relative;
    top:               0px;
    margin:            auto;
    height:            110px;
    padding-left:      220px;
    background:        url(Img/CVlogo.png) no-repeat bottom left;
    font-family:       'Boogaloo', sans-serif;
}
.header > .inicio {
    position:          absolute;
    z-index:           20;
    top:               18px;
    left:              6px;
    width:             180px;
    height:            65px;
    cursor:            pointer;
}
.header > .goTo1,
.header > .goTo2,
.header > .goTo3,
.header > .goTo4,
.header > .goTo5 {
    cursor:            pointer;
    display:           block;
    float:             left;
    margin:            25px 0px 0px 15px;
    font-size:         40px;
    color:             #EEE;
    font-weight:       bold;
    text-shadow:       0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
}
.header > .active {
    display:           block;
    float:             left;
    margin:            0px 0px 0px 15px;
    position:          relative;
}
.header > .active > .num {
    position:          absolute;
    top:               -5px;
    left:              0px;
    font-size:         85px;
    font-weight:       bold;
    color:             #FFF;
    text-shadow:       0 1px 0 #CCC,
                       0 2px 0 #C9C9C9,
                       0 3px 0 #BBB,
                       0 4px 0 #B9B9B9,
                       0 5px 0 #AAA,
                       0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
}
.header > .active > .paso {
    position:          absolute;
    top:               7px;
    left:              45px;
    font-size:         17px;
    color:             #FFF;
    text-shadow:       0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
}
.header > .active > .desc {
    padding:           10px 10px 10px 20px;
    margin:            30px 0px 0px 30px;
    background:        #FFF;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    color:             #333;
    font-size:         18px;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}


/*
Manos
*/
div.hand {
    width:             240px;
    height:            320px;
    position:          absolute;
    z-index:           10;
    cursor:            none;
    display:           none;
}
div.hand_cedula {
    background:        url(Img/hand_cedula.png) no-repeat top left;
}
div.point {
    background:        url(Img/hand_point.png) no-repeat top left;
}
div.thumb {
    background:        url(Img/hand_thumb.png) no-repeat top left;
}
div.hand_comprobante {
    background:        url(Img/hand_comprobante.png) no-repeat top left;
}
div.hand_firma {
    background:        url(Img/hand_firma.png) no-repeat top left;
}
div.hand_dedo {
    width:             377px;
    height:            311px;
    position:          absolute;
    z-index:           10;
    cursor:            none;
    display:           none;
    background:        url(Img/hand_dedo.png) no-repeat;
}
div.hand_dedo > div.dedoManchado {
    width:             27px;
    height:            43px;
    margin-left:       112px;
    margin-top:        268px;
    background:        url(Img/dedo_manchado.png) no-repeat;
}
div#hand_PresidenteMesa {
    width:             121px;
    height:            199px;
    position:          absolute;
    z-index:           9;
    cursor:            auto;
    background:        url(Img/hand_mesa.png) no-repeat;
}


/*
Portada
*/
#Portada {
    width:             510px;
    position:          relative;
    top:               50%;
    margin-top:        -170px !important; /* CUIDADO */
    cursor:            none;
}
span.sepLogos {
    display:           inline-block;
    height:            0px;
    width:             20px;
}
.VIlogo {
    display:           inline-block;
    height:            54px;
    width:             134px;
    background:        url(Img/VI.png) no-repeat center bottom;
}
.VJlogo {
    display:           inline-block;
    height:            54px;
    width:             152px;
    background:        url(Img/VJ.png) no-repeat center bottom;
}
#PortadaAll {
    height:            180px;
    margin:            auto;
    background:        url(Img/CV.png) no-repeat center center;
}
#error_msg_ci {
    margin-top:        20px;
    height:            20px;
    text-align:        center;
    font-size:         12px;
    
    color:             #CC0000;
    text-shadow:       0 10px 10px rgba(255,0,0,.5),
                       0 6px 1px rgba(125,0,0,.1),
                       0 0 5px rgba(125,0,0,.1),
                       0 1px 3px rgba(50,0,0,.3),
                       0 3px 5px rgba(50,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
}
#comenzar {
    position:          relative;
    display:           inline-block;
    padding:           7px 60px 7px 10px;
    background:        #FFF;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    color:             #666;
    font-size:         11px;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#comenzar #cedula_button {
    position:          absolute;
    top:               7px;
    right:             -18px;
    height:            36px;
    width:             36px;
    cursor:            pointer;
    background:        url(Img/ci_button.png);
}
#comenzar > .comenzar_cont {
    height:            37px;
    overflow:          hidden;
}
#comenzar #cedula_form {
    height:            37px;
    display:           none;
    text-align:        left;
    padding-left:      53px;
    background:        url(Img/ci.png) no-repeat;
}
#comenzar #cedula_form div {
    position:          relative;
}
#comenzar #cedula_form #ci_valor {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
    height:            21px;
    width:             100px;
    border:            none;
    outline:           none;
    padding:           0px;
}
#comenzar #cedula_form #ci_tipo {
    opacity:           0;
    display:           inline-block;
    width:             15px;
}
#comenzar #cedula_form #ci_tipo_show {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
    height:            21px;
    width:             15px;
    position:          absolute;
    top:               0px;
    left:              0px;
    overflow:          hidden;
}
#comenzar span {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
}
#comenzar .entregaTuCedula {
    position:          absolute;
    top:               -40px;
    right:             -35px;
    height:            145px;
    width:             114px;
    background:        url(Img/entregaTuCedula.png);
}
#comenzar .entregaLink {
    position:          absolute;
    bottom:            -25px;
    right:             -10px;
    height:            50px;
    width:             50px;
    z-index:           20;
}
#saltar_info {
    padding-top:       8px;
    color:             rgba(255,255,255,0.5);
    cursor:            pointer;
    font-size:         12px;
    text-shadow:       0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
}

/*
Info
*/
#infoRE {
    background:        url(Img/donde_voto.png) no-repeat center 20px;
    width:             400px;
    padding-top:       100px;
}
#infoRE > div {
    background:        #FFF;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#infoRE > div > img {
    display:           block;
}
#infoRE > div #continuar_pasos {
    padding:           7px 10px;
    background:        #8FBF00;
    text-shadow:       0px 1px 0px #C8D0E7;
    color:             #3C3D12;
    font-size:         14px;
    font-weight:       bold;
    cursor:            pointer;
    float:             right;
    position:          absolute;
    top:               21px;
    right:             -10px;
    
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#infoRE > div #continuar_pasos > div {
    position:          absolute;
    top:               0px;
    right:             -19px;
    background:        url(Img/continuar_pasos.png);
    height:            30px;
    width:             23px;
}
#infoRE > div #atras_info {
    padding:           7px 10px;
    background:        #A5CB27;
    color:             #3C3D12;
    font-size:         12px;
    font-weight:       bold;
    cursor:            pointer;
    float:             right;
    position:          absolute;
    top:               23px;
    left:              -20px;

    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#infoRE > div > .datosElector {
    padding:           15px;
    background:        url(Img/back_name.jpg) no-repeat bottom center;
    border-bottom:     1px solid #CCC;
    position:          relative;
}
#infoRE > div > .datosElector > .electorNombre {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         24px;
    text-transform:    capitalize;
}
#infoRE > div > .datosElector > .electorCI {
    color:             #888;
    font-size:         13px;
}
#infoRE > div > .datos_varios {
    padding:           15px;
    text-align:        left;
    background:        url(Img/back_info.jpg) no-repeat top center;
    border-top:        1px solid #CCC;
}
#infoRE > div > .datos_varios .ubicacion {
    color:             #666;
    font-size:         11px;
    margin-bottom:     8px;
    text-transform:    capitalize;
}
#infoRE > div > .datos_varios .super_ubic {
    color:             #AAA;
    font-size:         10px;
}
#infoRE > div > .datos_varios .centro,
#infoRE > div > .datos_varios .ubic_estado,
#infoRE > div > .datos_varios .ubic_municipio,
#infoRE > div > .datos_varios .ubic_parroquia {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    margin-top:        -2px;
    margin-bottom:     5px;
    text-transform:    capitalize;
    line-height:       19px;
}
#infoRE > div > .datos_varios .titulo_votos_emitir {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    margin-bottom:     8px;
}
#infoRE > div > .datos_varios .num_votos {
    color:             #333;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
    display:           block;
    width:             25px;
    float:             left;
}
#infoRE > div > .datos_varios .tipo_votos {
    color:             #888;
    font-size:         12px;
    line-height:       11px;
    display:           block;
    width:             130px;
    float:             left;
}
#infoRE > div > .datos_varios .sep {
    clear:             both;
    height:            5px;
}

/*
1º Paso | Lector de huellas
*/
.Lector {
    position:          relative;
    width:             500px;
    height:            400px;
    background:        url(Img/SAES-RSA.png) no-repeat bottom center;
    margin:            auto;
    cursor:            none;
}
div.huella {
    background:        url(Img/huella.gif);
    width:             25px;
    height:            20px;
    position:          absolute;
    z-index:           5;
    bottom:            165px;
    left:              124px;
    cursor:            none;
}
div.huellaLink {
    width:             40px;
    height:            40px;
    position:          absolute;
    z-index:           20;
    bottom:            155px;
    left:              116px;
    cursor:            none;
}
#indicacionesHuella {
    width:             300px;
    padding-bottom:    110px;
    position:          absolute;
    bottom:            125px;
    left:              200px;
    background:        url(Img/PonTuHuella.png) no-repeat 40px bottom;
}
#indicacionesHuella > div {
    background:        url(Img/Cedula.png) #FFF no-repeat right 10px;
    padding:           7px 80px 7px 10px;
    color:             #666;
    font-size:         12px;
    text-align:        left;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#indicacionesHuella > div > span {
    line-height:       22px;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #333;
}


/*
2º Paso | Maquinas de Votacion
*/
#TarjetonReal {
    display:           none;
    background:        #FFF;
    position:          absolute;
    top:               2.5%;
    left:              50%;
    margin-left:       -220px !important;
    z-index:           50;
    width:             440px;
    height:            95%;
    overflow:          scroll;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
                       
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#TarjetonReal > .tarjetonHeader {
    position:          fixed;
    padding:           20px 0px;
    width:             440px;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #333;
    background:        #FFF;
    line-height:       20px;
                   
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:     3px;
}
#TarjetonReal > .tarjetonHeader > span {
    font-family:       sans-serif;
    font-size:         12px;
    color:             #666;
    line-height:       auto;
}
#TarjetonReal #cerrarTarjeton {
    position:          absolute;
    top:               10px;
    right:             10px;
    height:            14px;
    width:             14px;
    background:        url(Img/cerrar.png) no-repeat center #666;
    cursor:            pointer;

   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:     3px;
}
#TarjetonReal #cerrarTarjeton:hover {
    background-color:  #333;
}
#TarjetonReal > .tarjetonImagen {
    margin:            auto;
    margin-top:        90px;
    width:             400px;
}
#TarjetonReal > .tarjetonImagen > img {
    margin-bottom:     20px;
    width:             400px;
}
#verTarjeton {
    position:          absolute;
    z-index:           1;
    top:               17px;
    left:              340px;
    background:        #FFF url(Img/tarjetonIcon.png) no-repeat center right;
    font-family:       'Boogaloo', sans-serif;
    font-size:         16px;
    padding:           5px 27px 5px 8px;
    color:             #333;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#verTarjetonLink {
    position:          absolute;
    z-index:           20;
    top:               17px;
    left:              340px;
    width:             174px;
    height:            29px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}

.MaquinasVotacion {
    position:          relative;
    width:             570px;
    height:            600px;
    background:        url(Img/Maquina.png) no-repeat top center;
    margin:            auto;
}
.TarjetonDoble {
    background:        url(Img/Maquinas.png) no-repeat top center !important;
}
.ComprobanteAnim {
    width:             108px;
    height:            43px;
    position:          absolute;
    top:               237px;
    left:              77px;
    background:        url(Img/Comprobante.jpg) no-repeat;
    background-position:108px 0px;
}
.Pantalla {
    width:             161px;
    height:            162px;
    position:          absolute;
    top:               66px;
    left:              40px;
    z-index:           1;
}
.showVoto {
    width:             67px;
    height:            90px;
    overflow:          hidden;
    border:            #CCC solid 1px;
    margin:            auto;
    margin-top:        33px;
    text-align:        center;
    
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:     6px;
}
.CandidatoScreen {
    background:        url(Img/hombreScreen.png) no-repeat center 28px;
}
.CandidataScreen {
    background:        url(Img/mujerScreen.png) no-repeat center 28px;
}
.showVoto > .showTituloVoto {
    text-align:        left;
    font-size:         8px;
    padding:           3px;
    color:             rgba(255,255,255,0.7);
    background:        #24286E;
    boder-bottom:      1px solid #FFF;
    text-align:        center;
}
.showVoto > .showSeleccion {
    height:            13px;
    border:            1px solid #FFF;
}
.showVoto > .showCand {
    background:        url(Img/hombre.png) 0px -13px;
}
.showVoto > .showLista {
    background:        url(Img/hombre.png) 0px -26px;
}
.showVoto > .showLeg1 {
    background:        url(Img/hombre.png) 0px -39px;
}
.showVoto > .showLeg2 {
    background:        url(Img/hombre.png) 0px -52px;
}
.showVoto > .showInd {
    background:        url(Img/RepIndigena.png);
}
.mensajeError {
    padding:           5px;
    background:        #FFF;
    text-align:        center;
    font-size:         9px;
    position:          absolute;
    top:               55px;
    left:              26px;
    box-shadow:        0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.4),
                       0 3px 5px rgba(0,0,0,.3),
                       0 5px 10px rgba(0,0,0,.3);
}
.mensajeError span {
    display:           inline-block;
    padding:           3px 6px;
    background:        #000059;
    margin-top:        10px;
    color:             #FFF;
    position:          relative;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
.mESeleccionar {
    position:          absolute;
    z-index:           20;
    top:               155px;
    left:              70px;
    height:            18px;
    width:             62px;
}
.mEVotar {
    position:          absolute;
    z-index:           20;
    top:               155px;
    left:              133px;
    height:            18px;
    width:             36px;
}
.showTextoFin {
    color:             #444;
    font-size:         8px;
    font-weight:       bold;
    text-align:        center;
    margin-top:        30px;
}
.showTextoFin div {
    font-size:         25px;
    padding-top:       10px;
    padding-bottom:    50px;
    background:        url(Img/arrow_end.png) no-repeat center bottom;
}
.botonVotar {
    height:            29px;
    width:             169px;
    background:        url(Img/boton_votar.jpg);
    position:          absolute;
    bottom:            -4px;
    left:              -4px;
    font-size:         12px;
    text-align:        center;
    line-height:       29px;
    color:             #555;
}
.botonVotarLink {
    height:            18px;
    width:             60px;
    position:          absolute;
    top:               208px;
    left:              89px;
    z-index:           20;
    
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:     4px;
}
.nuloLink {
    height:            83px;
    width:             72px;
    position:          absolute;
    top:               113px;
    left:              84px;
    z-index:           19;
}
#ledCand, #ledLista, #ledLeg1, #ledLeg2, #ledInd {
    width:12px;
    height:12px;
    background:url(Img/LED.png);
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    z-index:5;
}
.Tarjeton {
    width:230px;
    height:347px;
    position:absolute;
    top:80px;
    left:313px;
    z-index:1;
    opacity:0.7;
    background:rgba(256,256,256,0.8);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.TituloTarjeton {
    padding:5px 3px 5px 3px;
    margin-right:5px;
    color:#222;
    font-size:14px;
    font-weight:bold;
    border-bottom:solid 1px #888;
    margin-bottom:8px;
    text-align:left;
}
.TituloTarjeton span {
    font-size:6px;
    font-weight:normal;
    float:right;
    text-align:right;
}
.Candidato {
    width:65px;
    height:65px;
    margin:0px 0px 7px 7px;
    background:url(Img/hombre.png) no-repeat;
    float:left;
    border:solid 1px #999;
}
.Candidata {
    width:65px;
    height:65px;
    margin:0px 0px 7px 7px;
    background:url(Img/mujer.png) no-repeat;
    float:left;
    border:solid 1px #999;
}
.MenosVotos {
    height:52px !important;
}
.Hueco {
    width:67px;
    height:67px;
    margin:0px 0px 7px 7px;
    float:left;
}
.TarjetonLink {
    width:230px;
    height:315px;
    position:absolute;
    top:114px;
    left:314px;
    z-index:20;
}
.CandLink {
    width:67px;
    height:67px;
    margin:0px 0px 7px 7px;
    float:left;
    overflow:hidden;
}
.selectAll,
.selectCand,
.selectLista,
.selectLeg1,
.selectLeg2 {
    height:14px;
}
.MenosVotosLink {
    height:54px !important;
}
#RepIndigenaWrapper {
    width:inherit;
    height:50px;
    position:absolute;
    bottom:0px;
}
#RepIndigenaWrapper > span {
    display:block;
    padding-bottom:5px;
    margin:0px 5px 5px 8px;
    color:#222;
    font-size:11px;
    font-weight:bold;
    border-bottom:solid 1px #AAA;
    text-align:left;
}
.CandidatoInd {
    width:65px;
    height:13px;
    margin:0px 0px 7px 7px;
    background:url(Img/RepIndigena.png) no-repeat;
    float:left;
    border:solid 1px #999;
}
#RepIndigenaLink {
    width:inherit;
    position:absolute;
    bottom:6px;
    left:-1px;
}
.selectInd {
    width:67px;
    height:15px;
    margin:0px 0px 7px 7px;
    float:left;
}

@font-face {
    font-family:'digital-7';
    src: url('Fuentes/digital-7_mono-webfont.eot');
    src: url('Fuentes/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fuentes/digital-7_mono-webfont.woff') format('woff'),
         url('Fuentes/digital-7_mono-webfont.ttf') format('truetype'),
         url('Fuentes/digital-7_mono-webfont.svg#digital-7mono') format('svg');
    font-weight: normal;
    font-style: normal;
}
div.clock {
    width:116px;
    position:absolute;
    top:290px;
    left:57px;
    text-align:center;
}
.clock_ms {
    font-family:'digital-7', sans-serif;
    font-size:50px;
    line-height:50px;
    color:#CC0000;
    text-shadow:0 1px 0 #310000,
                0 2px 0 #7D0000,
                0 10px 10px rgba(125,0,0,.5),
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
.clock_ms_done {
    color:#9BC602 !important;
    text-shadow:0 1px 0 #5A7200,
                0 2px 0 #759401,
                0 10px 10px rgba(173,217,0,.5),
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15) !important;
}
.texto_clock {
    font-family: 'Boogaloo', cursive;
    font-size:16px;
    line-height:7px;
    color:#333;
    text-shadow:/*0 1px 0 #000,*/
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}


/*
3º Paso | Resguarda tu voto
*/
#mensaje3 {
    position:          absolute;
    z-index:           50;
    width:             300px;
    top:               50%;
    left:              50%;
    margin-left:       -150px !important;
    margin-top:        -150px !important;
    background:        url(Img/comprobanteFondo.png);
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#mensaje3 > div {
    padding:           20px 50px;
    font-size:         12px;
}
#mensaje3 .compVota {
    width:             171px;
    height:            75px;
    margin:            auto;
    background:        url(Img/CompVota.png) no-repeat bottom center;
}
#mensaje3 .datosVota {
    width:             170px;
    padding:           20px 0px 30px 0px;
    margin:            auto;
    color:             #666;
}
#mensaje3 .cerrarMensaje {
    background:        #663366;
    color:             #FFF;
}
.moveComp {
    position:          absolute;
    z-index:           30;
    width:             30px;
    height:            57px;
    top:               20px;
    left:              207px;
    cursor:            none;
}
.moveComp > .CompFin {
    height:            7px;
    margin-top:        50px;
}
.CompOk {
    top:               70px;
    left:              186px;
}
.CajaTop {
    position:          relative;
    width:             400px;
    height:            400px;
    background:        url(Img/CajaTop.png) no-repeat center 70px;
    margin:            auto;
}
.Caja {
    position:          absolute;
    z-index:           1;
    width:             400px;
    height:            400px;
    top:               89px;
    left:              0px;
    background:        url(Img/Caja.png) no-repeat center top;
}


/*
4º Paso | Firma
*/
.Cuaderno {
    position:          relative;
    width:             620px;
    height:            500px;
    background:        url(Img/Cuaderno.png) no-repeat bottom center;
    margin:            auto;
    cursor:            none;
}
#indicacionesCuaderno {
    width:             200px;
    position:          absolute;
    bottom:            400px;
    right:             25px;
}
#indicacionesCuaderno > div {
    padding:           7px 10px;
    background:        #FFF;
    color:             #666;
    font-size:         12px;
    text-align:        center;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#indicacionesCuaderno > div > span {
    line-height:       22px;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #333;
}
#firma {
    position:          absolute;
    z-index:           2;
    width:             55px;
    height:            40px;
    top:               220px;
    left:              375px;
    background:        url(Img/firma.png) no-repeat center;
}
#FirmaHuellaLink {
    position:          absolute;
    z-index:           20;
    width:             95px;
    height:            55px;
    top:               204px;
    left:              375px;
}
#huella {
    position:          absolute;
    z-index:           2;
    width:             55px;
    height:            40px;
    top:               200px;
    left:              416px;
    background:        url(Img/huella.png) no-repeat center;
}

/*
5º Paso | Manchate el dedo
*/
#indicacionesTinta {
    padding:           30px 0px 70px 0px;
    width:             170px;
    margin:            auto;
    background:        url(Img/flecha_abajo.png) no-repeat bottom left;
}
#indicacionesTinta > div {
    padding:           7px 10px;
    background:        #FFF;
    color:             #666;
    font-size:         12px;
    text-align:        center;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#indicacionesTinta > div > span {
    line-height:       22px;
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #333;
}
.Tintas {
    position:          relative;
    width:             300px;
    height:            300px;
    background:        url(Img/Tinta.png) no-repeat center 145px;
    margin:            auto;
    cursor:            none;
}
.TintasTop {
    position:          absolute;
    z-index:           1;
    top:               155px;
    left:              0px;
    width:             300px;
    height:            145px;
    background:        url(Img/TintaTop.png) no-repeat top center;
}
.tintaBlanca, .tintaAzul {
    position:          absolute;
    z-index:           25;
    top:               95px;
    width:             40px;
    height:            60px;
    overflow:          hidden;
}
.tintaBlanca           { left:84px; }
.tintaAzul             { left:178px; }
.tintaBlanca:hover, .tintaAzul:hover {
    height:            100px;
}
.tintaBlanca div, .tintaAzul div {
    margin-top:        75px;
    height:            25px;
}
.BlancaOk {
    top:               40px;
    left:              79px;
}
.AzulOk {
    top:               40px;
    left:              173px;
}

/*
Final
*/
div#FinCV {
    width:             440px;
    position:          relative;
    top:               50%;
    margin-top:        -183px !important; /* CUIDADO */
}
div.felicitaciones {
    float:             left;
    height:            150px;
    width:             200px;
    background:        url(Img/CVlogoFin.png) no-repeat center bottom;
    font-size:         12px;
    color:             #AAA;
}
div.felicitaciones > span, .mensaje {
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #FFF;
}
div.share_sep {
    float:             left;
    height:            150px;
    width:             70px;
    background:        url(Img/share_sep.png) no-repeat 25px 10px;
}
div.share {
    float:             left;
    height:            150px;
    width:             150px;
    font-size:         12px;
    color:             #AAA;
}
div.share_box {
    padding:           7px 14px;
    background:        #FFF;
    font-size:         12px;
    color:             #666;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
div.share_box > span {
    font-family:       'Boogaloo', sans-serif;
    font-size:         22px;
    color:             #333;
}
a.share_twitter {
    display:           block;
    float:             left;
    height:            80px;
    width:             50px;
    background:        url(Img/twitter.png) no-repeat left bottom;
}
a.share_facebook {
    display:           block;
    float:             left;
    height:            73px;
    width:             50px;
    background:        url(Img/facebook.png) no-repeat left bottom;
}
a.share_gplus {
    display:           block;
    float:             left;
    height:            73px;
    width:             50px;
    background:        url(Img/gplus.png) no-repeat left bottom;
}
a.share_twitter:hover,
a.share_facebook:hover,
a.share_gplus:hover {
    background-position:right bottom;
}
.lineaEspacio {
    padding-top:       20px;
    clear:             both;
}
.deNuevo {
    font-size:         18px;
    cursor:            pointer;
}
span.botonCreditos, a.botonPublicar, span.botonContacto {
    display:           inline-block;
    padding:           5px 7px;
    margin-top:        5px;
    background:        #FFF;
    color:             #666;
    font-size:         12px;
    text-decoration:   none;
    cursor:            pointer;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
} span.botonCreditos { color:#333 !important; }
#creditos, #contacto {
    position:          absolute;
    z-index:           30;
    top:               50%;
    right:             50%;
    width:             200px;
    margin-top:        -100px !important;
    margin-right:      -100px !important;
    background:        #FFF;
    box-shadow:        0 6px 1px rgba(0,0,0,.1),
                       0 0 5px rgba(0,0,0,.1),
                       0 1px 3px rgba(0,0,0,.3),
                       0 3px 5px rgba(0,0,0,.2),
                       0 5px 10px rgba(0,0,0,.25),
                       0 10px 10px rgba(0,0,0,.2),
                       0 20px 20px rgba(0,0,0,.15);
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:     3px;
}
#contacto {
    margin-top:        -60px !important;
}
#creditos > div, #contacto > div {
    padding:           10px;
    text-align:        left;
}
#contacto > div {
    font-size:         11px;
    color:             #666;
}
#contacto a {
    color:             rgb(19,13,115);
    text-decoration:   none;
}
#contacto a:hover {
    text-decoration:   underline;
}
#creditos .tituloCreditos, #contacto .tituloContacto {
    padding-bottom:    10px;
    border-bottom:     solid 1px #CCC;
    font-family:       'Boogaloo', sans-serif;
    font-size:         20px;
    color:             #333;
}
#creditos #cerrarCred, #contacto #cerrarCont, .cerrar_mas_info {
    position:          absolute;
    top:               15px;
    right:             10px;
    height:            14px;
    width:             14px;
    background:        url(Img/cerrar.png) no-repeat center #666;
    cursor:            pointer;

   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:     3px;
}
#creditos #cerrarCred:hover {
    background-color:  #333;
}
#creditos .credPersona, #creditos .logoCreditos {
    display:           block;
    text-decoration:   none;
    padding-top:       10px;
    font-size:         11px;
    color:             #666;
}
#creditos .credPersona > span {
    font-family:       'Boogaloo', sans-serif;
    font-size:         15px;
    color:             #333;
}
span.VIlogo.fin , span.VJlogo.fin  {
    font-size:         12px;
    font-style:        italic;
    text-align:        center;
    background:        none !important;
    color:             #999;
    height:            auto !important;
}
span.VIlogo.fin span, span.VJlogo.fin span {
    padding-bottom:    10px;
    display:           block;
}
span.VIlogo.fin a, span.VJlogo.fin a {
    display:           block;
}












